In [1]:
import psycopg2

In [2]:
my_conn = psycopg2.connect(
    host="localhost",
    database= 'depi',
    user='postgres',        #in postgres write: select current_user
    password= "Std#040228"
    
)

In [3]:
my_conn.autocommit = True
cur = my_conn.cursor()
cur.execute('SELECT current_user')

In [7]:
cur.execute('SELECT current_user')
print(cur.fetchone()[0])

postgres

create new database

In [5]:
cur.execute("create database DS_NEW")
print("database created sucessfully")

database created sucessfully

# new practice

In [ ]:
cur.execute('select new')

In [9]:
cur.execute("select datname from PG_database WHERE datistemplate = false")
for db in cur.fetchall():
    print(db)

('postgres',)
('depi',)
('school',)
('student_management',)
('std_mgm',)
('ds_new',)

In [11]:
cur.execute("create table students (name varchar(50), ohone varchar(20))")
print("table created sucessfully")

table created sucessfully

In [ ]:
cur.execute("ALTER TABLE students RENAME COLUMN ohone TO phone ")