In [20]:
import mysql.connector
import psycopg2

### Connect to database

In [ ]:
my_conn = psycopg2.connect(
    host="localhost",
    database="DEPI",
    user="postgres",
    password="Std#040228"
    
    
)

NameError: name 'psycopg2' is not defined

if you have problem with user name or if you need to reset your password when you forget

In [19]:
cur = my_conn.cursor()
cur.execute("SELECT current_user;")
print(cur.fetchone()[0])
cur.close()
my_conn.close()

postgres

### Create new Database

In [27]:
my_conn.autocommit = True
cur = my_conn.cursor()
cur.execute("CREATE DATABASE qt5_db;")

if you need to change your password

In [2]:
# ALTER USER postgres WITH PASSWORD 'new_password';

### Show all database

In [31]:
cur.execute("SELECT datname FROM pg_database WHERE datistemplate = false;")
for db in cur.fetchall():
    print(db[0])

postgres
DEPI
Depi_New
course_management
deppp
simple_bikeshare
student_mgm
qt5_db

### create table

In [ ]:
cur.execute(" CREATE TABLE students (name varchar(50), ohone varchar(20) )")
print("table created")

table created

In [39]:

cur.execute("  ALTER TABLE students ADD COLUMN Address VARCHAR(20);")
print("table created")

table created

In [41]:

    
cur.execute("   ALTER TABLE students RENAME COLUMN ohone TO phone;")
print("column changed")

column changed

### inset data

In [ ]:

sql = "INSERT INTO students (name, phone)VALUES(%s,%s)"
data =("George samuel","01022331830")
cur.execute(sql, data)
my_conn.commit()
print("the new record was inserted")
print(cur.rowcount)#how many record are inserted

the new record was inserted
1

### insert Multiple rows

In [47]:
sql = "INSERT INTO students (name, phone)VALUES(%s,%s)"
data =[
    ("Aya","01022331830"),
    ("Renad","01022331830"),
    ("Faris","01022331830"),
    ("abdalla","01022331830"),
    ("Habiba","01022331830")
    
    
    ]
cur.executemany(sql, data)
my_conn.commit()

print(cur.rowcount,"the new record was inserted")

5 the new record was inserted

###  Select from a Table

In [48]:
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for i in results:
    print(i)

('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('Aya', '01022331830', None)
('Renad', '01022331830', None)
('Faris', '01022331830', None)
('abdalla', '01022331830', None)
('Habiba', '01022331830', None)

In [49]:
cur.execute("SELECT name FROM students")
results = cur.fetchall()
for i in results:
    print(i)

('George samuel',)
('George samuel',)
('George samuel',)
('George samuel',)
('Aya',)
('Renad',)
('Faris',)
('abdalla',)
('Habiba',)

### filter

In [55]:
cur.execute("SELECT phone FROM students where name ='Aya'")
results = cur.fetchall()
print(results)

[('01022331830',)]

Wildcard Characters

In [60]:
cur.execute("SELECT phone FROM students where name ='Aya'")
results = cur.fetchall()
print(results)

[('01022331830',)]

### Prevent SQL injection
if you need to searchfor student or user give you the input

In [62]:
sql = "SELECT * FROM students WHERE name = %s "
data = ('Aya',)
cur.execute(sql, data)
result = cur.fetchall()
print(result)

[('Aya', '01022331830', None)]

### Update Statement

In [67]:
cur.execute("UPDATE students set phone = '00000123567' where name = 'Aya' ")
my_conn.commit()
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for i in results:
    print(i)

('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('Renad', '01022331830', None)
('Faris', '01022331830', None)
('abdalla', '01022331830', None)
('Habiba', '01022331830', None)
('Aya', '00000123567', None)

Update with specific input

In [75]:
# Get inputs from user
update_value = input("Enter new phone: ")
condition_value = input("Enter student name: ")

# Create the data tuple
data = (update_value, condition_value)

# Execute update with parameters
sql = cur.execute("UPDATE students SET phone = %s WHERE name = %s", data)
my_conn.commit()

# Fetch and print all rows
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for row in results:
    print(row)

('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('George samuel', '01022331830', None)
('Renad', '01022331830', None)
('Faris', '01022331830', None)
('abdalla', '01022331830', None)
('Habiba', '01022331830', None)
('Aya', '9999999999999', None)

In [76]:
# Ask for the student name to delete
name_to_delete = input("Enter student name to delete: ")

# Execute delete with parameter
cur.execute("DELETE FROM students WHERE name = %s", (name_to_delete,))
my_conn.commit()

# Check if anything was deleted
if cur.rowcount > 0:
    print(f"{cur.rowcount} record(s) deleted.")
else:
    print("No student found with that name.")

# Show remaining records
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for row in results:
    print(row)

4 record(s) deleted.
('Renad', '01022331830', None)
('Faris', '01022331830', None)
('abdalla', '01022331830', None)
('Habiba', '01022331830', None)
('Aya', '9999999999999', None)