In [4]:
pip install PyQt5

Collecting PyQt5
  Using cached PyQt5-5.15.11-cp38-abi3-win_amd64.whl.metadata (2.1 kB)
Collecting PyQt5-sip<13,>=12.15 (from PyQt5)
  Using cached PyQt5_sip-12.17.0-cp312-cp312-win_amd64.whl.metadata (492 bytes)
Collecting PyQt5-Qt5<5.16.0,>=5.15.2 (from PyQt5)
  Using cached PyQt5_Qt5-5.15.2-py3-none-win_amd64.whl.metadata (552 bytes)
Using cached PyQt5-5.15.11-cp38-abi3-win_amd64.whl (6.9 MB)
Using cached PyQt5_Qt5-5.15.2-py3-none-win_amd64.whl (50.1 MB)
Using cached PyQt5_sip-12.17.0-cp312-cp312-win_amd64.whl (58 kB)
Installing collected packages: PyQt5-Qt5, PyQt5-sip, PyQt5

   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   ---------------------------------------- 0/3 [PyQt5-Qt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   -------------------------- ------------- 2/3 [PyQt5]
   ---------------------------------------- 3/3 [PyQt5]

Successfully installed PyQt5-5.15.11 PyQt5-Qt5-5.15.2 PyQt5-sip-12.17.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
from PyQt5.QtWidgets import QApplication, QMainWindow
from PyQt5 import uic
import sys
import time
class Main_App(QMainWindow):
    def __init__(self):
        super(Main_App,self).__init__()
        uic.loadUi("C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/DataScience/std.ui",self)
    def InitUI(self):
        self.setWindowTitle("Student System")
        
        
        
        
    if __name__=='__main__':
        app=QApplication(sys.argv)
        window= Main_App()

NameError: name 'Main_App' is not defined

In [9]:
from PyQt5.QtWidgets import QApplication, QMainWindow 
from PyQt5 import uic 
import sys 
import time 
class Main_App(QMainWindow):
    def _init_(self): 
        super(Main_App,self).init() 
        uic.loadUi('C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/DataScience/std.ui',self) 
        self.InitUI() 
        def InitUI(self): 
            self.setWindowTitle("Student System") 
            if __name__ == '_main_': 
                app = QApplication(sys.argv) 
                window = Main_App() 
            window.show() 
            sys.exit(app.exec())

In [14]:
from PyQt5.QtWidgets import QApplication, QMainWindow 
from PyQt5 import uic 
import sys 
import time 
class Main_App(QMainWindow): 
    def __init__(self): 
        super(Main_App,self).__init__() 
        uic.loadUi('C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/DataScience/std.ui',self) 
        self.InitUI() 
        self.handle_btn() 
    def InitUI(self): 
        self.setWindowTitle("Student System") 
    def handle_btn(self): 
        self.std_add_btn.clicked.connect(self.add_std_info) 
    def add_std_info(self): 
        print('welcome to my app') 
        if __name__ == '__main__': 
            app = QApplication(sys.argv) 
            window = Main_App() 
            window.show() 
            sys.exit(app.exec())

In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\computer market\desktop\depi\depi_amit_ai_bns3\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\computer market\desktop\depi\depi_amit_ai_bns3\.venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\computer market\desktop\depi\depi_amit_ai_bns3\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\computer market\desktop\depi\depi_amit_ai_bns3\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\computer market\desktop\depi\depi_amit_ai_bns3\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\computer market\desktop\depi\depi_amit_ai_bns3\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

In [5]:
s=pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
s = pd.Series([1,2,3,4], index=['A','B','C','D'])
s

A    1
B    2
C    3
D    4
dtype: int64

In [19]:
data= [[1,1,'ahmed'],
       [2,3,'renad'],
       [3,5,'ahmed'],
       [4,100,'habiba']
]
df=pd.DataFrame(data,columns=['index','std_id','name'])
df

   index  std_id    name
0      1       1   ahmed
1      2       3   renad
2      3       5   ahmed
3      4     100  habiba

In [18]:
data= [[1,55,'ahmed'],
       [2,555,'renad'],
       [3,65,'ahmed'],
       [4,678,'habiba']
]
display(df)
colums= ['A','B','C']
df.columns=colums
idx=['row_1','row_2','row_3','row_4']
df.index=idx
display(df)

   index  std_id    name
0      1       1   ahmed
1      2       3   renad
2      3       5   fares
3      4     100  habiba

       A    B       C
row_1  1    1   ahmed
row_2  2    3   renad
row_3  3    5   fares
row_4  4  100  habiba

In [25]:
df['name'].dtypes

dtype('O')

In [26]:
df['std_id']=df['std_id'].astype('category')
df.dtypes

index        int64
std_id    category
name        object
dtype: object

In [8]:
df.head(2)

   index  std_id   name
0      1      55  ahmed
1      2     555  renad

In [9]:
df.tail(2)

   index  std_id    name
2      3      65   fares
3      4     678  habiba

In [15]:
df.describe(include=int)

          index      std_id
count  4.000000    4.000000
mean   2.500000   27.250000
std    1.290994   48.527484
min    1.000000    1.000000
25%    1.750000    2.500000
50%    2.500000    4.000000
75%    3.250000   28.750000
max    4.000000  100.000000

In [16]:
df.columns

Index(['index', 'std_id', 'name'], dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   4 non-null      int64
 1   std_id  4 non-null      int64
 2   name    4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [20]:
df['name'].unique()

array(['ahmed', 'renad', 'habiba'], dtype=object)

In [22]:
df['std_id'].max()

np.int64(100)

In [23]:
df['std_id'].idxmax()

3

In [25]:
df['name'].value_counts()

name
ahmed     2
renad     1
habiba    1
Name: count, dtype: int64

In [26]:
df['std_id'].sum()

np.int64(109)

In [27]:
df['name'].values

array(['ahmed', 'renad', 'ahmed', 'habiba'], dtype=object)

In [28]:
df.values

array([[1, 1, 'ahmed'],
       [2, 3, 'renad'],
       [3, 5, 'ahmed'],
       [4, 100, 'habiba']], dtype=object)

In [29]:
df.replace(5,"ahmed")

   index std_id    name
0      1      1   ahmed
1      2      3   renad
2      3  ahmed   ahmed
3      4    100  habiba