In [21]:
x="rawnaa"
# x=20
y=30
# z=x+y
print("\"my age is\"", y)

"my age is" 30

In [ ]:
# hex(id(x))
print("my name is {0} , and my age is {1}".format(x,y))
"x"in "xiever"

my name is rawnaa , and my age is 30

False

In [18]:
type(x)
print(f"my name is {x}, and my age {y}")

my name is rawnaa, and my age 30

In [21]:
list_1={1,2,3}
type(list_1)
list_2="rawnaa"

In [22]:
list(list_1)
list(list_2)

['r', 'a', 'w', 'n', 'a', 'a']

In [38]:
str_1=" Amit Learning"
word_1 = str_1[0:5:1]
word_2 = str_1[5:0:-1]
print(word_1 ,"\n" , word_2)

 Amit
  timA

In [2]:
encoded_massage = "###!!@mocleW EPGTQ!!!6789 "
word_1 = encoded_massage[12:5:-1] + encoded_massage[13]
word_2 = encoded_massage[14:18:1]
print(word_1.capitalize() , word_2)

 welcome PGTQ

In [ ]:
# encoded_massage = "###!!@mocleW EPGTQ!!!6789 "
# encoded_massage_1 = encoded_massage[6:18:1].swapcase()
# word_3 = encoded_massage[12:5:-1] + encoded_massage[13]
# word_4 = encoded_massage[14:18:1]
# print(encoded_massage_1 )

MOCLEw epgtq

In [33]:
print(str_1.replace("Amit","hello"))
print(str_1.lower())
#upper, captalize
cr="if you can throw a can"
print(cr.count("can"))

hello Learning
amit learning
2

In [3]:
words=["this", "is", "a", "sentence"]
sentence=' '.join(words)
print(sentence)

this is a sentence

In [ ]:
# m="0123456789"
# print(m[-2:-6:-2])
list_3=[1,2,3,4]
list_3*2
list_4=['ahmed',34,70,True]
len(list_3)
f=list_3 +"rawnaa"

In [17]:
dic_1={'key_1':"v1", 'key_2':"v2"}
dic_1['key_1']

'v1'

In [23]:
s="welcome to depi"
s.find("depi")
g="       ghky     "
g.strip()

'ghky'

In [28]:
num_1 = int(input("enter num1"))
num_2 = int(input("enter num2"))
sum = num_1 + num_2
print(f"the sum of num1 {num_1} and num2 {num_2} is", sum)

the sum of num1 30 and num2 20 is 50

In [6]:
list_one = [1,2,3,4,"depi","learning",True,[1,2,3,"true"],["ML","DL","DS"]]
type(list_one)
list_one[8][0]

'ML'

In [ ]:
name = "rawnaa"
y = list(name)
print(y, type(y))

['r', 'a', 'w', 'n', 'a', 'a'] <class 'list'>

In [10]:
list_11 = ["depi", "data", "science"]
list_11.append("machine learning")
list_11

['depi', 'data', 'science', 'machine learning']

In [ ]:
list_11 = ["depi","depi", "data", "science"]
list_11.insert(0,"machine learning")
list_11.remove("depi")
list_11.pop(2) #if inside pop is empty remove the last object
list_11

['machine learning', 'depi', 'science']

In [17]:
x1=[1,2,3]
x2=[3,4,5]
z1=x1+x2
x1.extend(x2)
z1.remove(3)
print(x1,z1)

[1, 2, 3, 3, 4, 5] [1, 2, 3, 4, 5]

In [26]:
my_list =[3,1,4,7,5,1,2]
my_list.sort()
my_list.clear()
my_list

[]

In [ ]:
del my_list #delete the list
my_list

NameError: name 'my_list' is not defined

In [29]:
tuple_one = (1,2,3,4,"depi","learning",True,[1,2,3,"true"],["ML","DL","DS"])
print(type(tuple_one))
#to add an object to the tuple you can't so to do that you must convert the tuple to list and edit it and return it to tuple
x=list(tuple_one)
x[4]="amit"
y= tuple(x)
y

<class 'tuple'>

(1, 2, 3, 4, 'amit', 'learning', True, [1, 2, 3, 'true'], ['ML', 'DL', 'DS'])

In [31]:
x2=["ahmed","ahmed","ali","aya"]
x3=set(x2)
x3
x3[0]

TypeError: 'set' object is not subscriptable

In [33]:
dict_1={"key1":12, "key2":"depi","key3":"python"}
dict_1["key1"]="amit learning"
dict_1

{'key1': 'amit learning', 'key2': 'depi', 'key3': 'python'}

In [34]:
list_1=[("a",1),("b",2),("c",3)]
zz=dict(list_1)
zz

{'a': 1, 'b': 2, 'c': 3}

In [2]:
x=6
if x%2==0 :
    print("the num is even")
else :
    print("the num is odd")

the num is even

In [3]:
degree = int(input("enter your degree"))
if degree>=90 :
    print("your grade is 'A'")
elif 90>degree>80 :
    print("your grade is 'B'")
elif 80>degree>70 :
    print("your grade is 'C'")
elif 70>degree>60 :
    print("your grade is 'D'")
else :
    print("your grade is 'F'")

your grade is 'C'

In [5]:
degree = int(input("enter your degree"))
if degree>60 :
    print("pass")
    if 90>degree>80 :
        print("your grade is 'B'")
    elif 80>degree>70 :
        print("your grade is 'C'")
    elif 70>degree>60 :
        print("your grade is 'D'")
else:
    print("failed")
    print("your grade is 'F'")

pass
your grade is 'B'

In [7]:
for i in range (6):
    if i==3 :
        continue
    print(i)

0
1
2
4
5

In [8]:
for i in range (6):
    if i==3 :
        break
    print(i)

0
1
2

In [11]:
for i in range (6):
    if i==3 :
        pass
    else:
        print(i)

0
1
2
4
5

In [ ]:
x = 6
while x>0:
    print(x) #infinite loop

In [13]:
x=6
while x>0:
    print(x)
    x-=1

6
5
4
3
2
1

In [5]:
import os
import sys

In [6]:
f = open("C:/RONIN/rawnaa.txt","r") #to avoid the error change the direction of the slash in the path

In [7]:
print(f.read())

hello depi

In [28]:
f = open("C:/RONIN/rawnaa.txt","w")
f.write("hello depi")
print(f)

<_io.TextIOWrapper name='C:/RONIN/rawnaa.txt' mode='w' encoding='cp1252'>

In [2]:
f = open("C:/RONIN/rawnaa.txt","r")
print(f.read())

hello depi

In [ ]:
def info_std(name :str, age :int):
    print(f"my name is {name},my age is {age}")

In [15]:
info_std("rawnaa","20")

my name is rawnaa,my age is 20

In [17]:
import math
math.sin(50)
math.sqrt(4)

2.0

In [ ]:
def info_std(name="abs", age=12):
    print(f"my name is {name},my age is {age}")

In [24]:
def info_st(*name) :
    print(f"my name is {name}")

In [26]:
def func(**name):
    print(name)
    print(type(name))
    func(k1=10.5,k2=3,k3="ml",k4="py")

In [27]:
def sum_num(x):
    return x+10

In [30]:
sum_num(10)

20

In [29]:
sum_n =lambda x:x+10
type(sum_n)

function

In [31]:
sum_n(40)

50

In [ ]:
def sum_1(n):
    return lambda a:a*n
fun_1 =lambda a:a*n
fun_1(11)
sum_1(2)

In [39]:
try:
    5/0
except:
    print("not accept to divided by zero")

not accept to divided by zero

In [44]:
try:
    x=10
    y=int(input("enter your value"))
    x/y
except NameError:
    print("not accept to divided by zero")

ZeroDivisionError: division by zero

In [61]:
import random
n=random.random()
def calc_degree(n):
    return n*n
calc_degree(n)

0.0008290321360225025

In [1]:
list_1=["ahmed","rawnaa","ibrahim","sabah","abdulfattah","mona"]
random.choice(list_1)

NameError: name 'random' is not defined

In [46]:
from info import info_std
info_std("ron",21)
#import function from a file

my name is ron,my age is 21

In [2]:
import os

In [4]:
file=os.listdir("D:/files")
print(file)

['Altitude Measurement.pdf', 'coe_from_sv.m.txt', 'DOCUMENTS', 'gibbs.m.txt', 'GPA.xlsx', 'hello', 'Hex cube sat 2U', 'ionospheric corrections for gnss.pdf', 'New Text Document.txt', 'pc puzzile games.txt', 'Scientific Satellites 0.pdf', 'Scientific Satellites presentation SN209.pptx', 'Scientific Satellites TASK1.pdf', 'STM32 passwor.txt', 'Technical Tracks Catalog (1).pdf', 'TryOrbital.m.txt', 'UCAM-CL-TR-696.pdf', 'Why GNSS satellites in MEO.docx', 'ارشاد لتعلم البرمجة.pdf', 'شات.txt', 'شرح فترات DEPI.pdf', 'مبادرة رواد مصر الرقمية .pdf', 'ورق المدينة']

In [ ]:
base_dir = "D:/files"
file_name ="text_1.txt"
file_root_path= os.path.join(base_dir,file_name)
file_root_path
os.remove(file_root_path)

'D:/files\\text_1.txt'

In [8]:
import os
path="C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code"
if not os.path.exists(path):
    os.makedirs(path)
for i in range(20):
        inner_path=os.path.join(path,"dir_"+str(i))
        if not os.path.exists(inner_path):
            os.makedirs(inner_path)

In [14]:
from math import factorial
factorial(5)

120

In [11]:
def factorial(num):
    if num==0:
        return 0
    if num==1:
        return 1
    return num*factorial(num-1)

In [12]:
factorial(5)

120

In [20]:
import random
def generat_password(length):
    characters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!@#$%^&*"
    password=""
    for _ in range(length):
        password +=random.choice(characters)
    return password