In [2]:
today=("moday"+"saterday"
       +"friday")
print(today)

modaysaterdayfriday

In [1]:
print("tody is","monday",
      "tuesday","wensday")

tody is monday tuesday wensday

In [ ]:
list1=[1,2,3,4,"amit","learning",[5,6,7,"depi",["ml","dl"]]]
list1[6][4][0]
list1[6][4][1]="ds" #to replace an object to the list
list1

[1, 2, 3, 4, 'amit', 'learning', [5, 6, 7, 'depi', ['ml', 'ds']]]

In [10]:
name="rawnaa"
y=list(name)    #to convert any variable type to the list
y

['r', 'a', 'w', 'n', 'a', 'a']

In [ ]:
name_1=['abdulfattah',"shawki"]
name_1.append("rawnaa")
print(name_1)   #I have been trying to assign the list to anew variable this give me none
#so you must append the object to the same list 
#append : to append the object at the end of the list

['abdulfattah', 'shawki', 'rawnaa']

In [ ]:
name_1=['abdulfattah',"shawki"]
name_1.insert(0,"rawnaa")   # insert the object to the place you want and determine
name_1

['rawnaa', 'abdulfattah', 'shawki']

In [24]:
x1=[1,2,3]
x2=[4,5,6]
z1=x1+x2    #this way not professional
x1.extend(x2)
x1

[1, 2, 3, 4, 5, 6]

In [ ]:
char=['a','b','c','d','e','f']
char.remove('a')    #remove an item from the list
char

['b', 'c', 'd', 'e', 'f']

In [3]:
char=['a','b','c','d','e','f']
char.pop()  #if () is empty dalete the last item in the list .pop(index or place)
char.pop(0)
char

['b', 'c', 'd', 'e']

In [4]:
char=['c','a','f','d','b']
char.sort()
char

['a', 'b', 'c', 'd', 'f']

In [5]:
char=['a','b','c','d','e','f']
char.reverse()
char

['f', 'e', 'd', 'c', 'b', 'a']

In [6]:
char=['a','b','c','d','e','f']
char.clear()    #re ove all objects in the list
char

[]

In [ ]:
char1=['a','b','c','d','e','f']
del char1   #delete the list and the variable name , it will be unknown or unrecognized
char1   #NameError: name 'char1' is not defined

NameError: name 'char1' is not defined

In [8]:
tchar=('a','b','c','d','e','f')
print(type(tchar))

<class 'tuple'>

In [ ]:
tchar=('a','b','c','d','e','f')
#tchar[5]='g'     #TypeError: 'tuple' object does not support item assignment  
lchar=list(tchar) 
lchar[5]='g'
lchar
tuple(lchar)    #to return to tuple again after data modification

['a', 'b', 'c', 'd', 'e', 'g']

In [14]:
tuple=(1,2,3)
tuple

(1, 2, 3)

In [16]:
v=["ahmed","ahmed","rawnaa","ibrahim","rawnaa"]
c=set(v)
print(c,type(c))

{'ahmed', 'rawnaa', 'ibrahim'} <class 'set'>

In [ ]:
c[0]    #set is unordered data so you can't call an objet and the objects haven't index
#TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [21]:
dic={"name":"rawnaa","age":21,"country":"egypt"}
dic["name"]

'rawnaa'

In [22]:
dic["name"]="ibrahim"
dic

{'name': 'ibrahim', 'age': 21, 'country': 'egypt'}

In [24]:
list1=[('a',1),('b',2),('c',3)]
s=dict(list1)
s

{'a': 1, 'b': 2, 'c': 3}

In [2]:
2**2

4

In [7]:
for i in range(5):
    if i==2:
        continue
    print(i)

0
1
3
4

In [9]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [10]:
for i in range(5):
    if i==3:
        pass
    else:
        print(i)

0
1
2
4

In [15]:
x=6
while x>0 :
    print(x)
    x-=1

6
5
4
3
2
1

In [4]:
test1=int(input("enter the first test score"))
test2=int(input("enter the second test score"))
test3=int(input("enter the third test score"))
avrage=(test1+test2+test3)/3
print("your average is: ",avrage)
if avrage>=95:
    print("congratulations")

your average is:  87.33333333333333

In [ ]:
keep_going = 10
 # Calculate a series of commissions.
while keep_going == 10:
      # Get a salesperson's sales and commission rate.
    sales = int(input("Enter the amount of sales: "))
comm_rate = int(input("Enter the commission rate: "))
   # Calculate the commission.
commission = sales * comm_rate
       # Display the commission.
print('The commission is ',commission)
 
       # See if the user wants to do another one.
keep_going = input('Do you want to calculate another ' + 
                         'commission (Enter y for yes): ')

In [ ]:
import os
print(os.getcwd())  #get current working directory

c:\Users\Computer Market\Desktop\Depi\Depi_Amit_AI_BNS3\sources\session\code

In [13]:
file=open("rawnaa.txt")
print(file.read())

hello depi

In [ ]:
import os
import sys

In [15]:
f=open("test.txt")
# print(f.read())
#f.close()

In [16]:
all_lines=f.readlines()
for line in all_lines:
    print(line)

Hello depi

My name is Rawnaa

congratulations for reaching this file

In [19]:
f=open("test.txt",'w')
f.write("Amit Learning")
f.close()

In [ ]:
f=open("test.txt")  # this replace the content of the file
print(f.read())

Amit Learning

In [5]:
f=open("test.txt","a")
for i in range(30):
    f.write("\n I love python"+str(i))

In [6]:
f=open("test.txt")
f.read()

'\nI love python0\nI love python1\nI love python2\nI love python3\nI love python4\nI love python5\nI love python6\nI love python7\nI love python8\nI love python9\nI love python10\nI love python11\nI love python12\nI love python13\nI love python14\nI love python15\nI love python16\nI love python17\nI love python18\nI love python19\nI love python20\nI love python21\nI love python22\nI love python23\nI love python24\nI love python25\nI love python26\nI love python27\nI love python28\nI love python29\nI love python0\nI love python1\nI love python2\nI love python3\nI love python4\nI love python5\nI love python6\nI love python7\nI love python8\nI love python9\nI love python10\nI love python11\nI love python12\nI love python13\nI love python14\nI love python15\nI love python16\nI love python17\nI love python18\nI love python19\nI love python20\nI love python21\nI love python22\nI love python23\nI love python24\nI love python25\nI love python26\nI love python27\nI love python28\nI love python29\n I love python0\n I love python1\n I love python2\n I love python3\n I love python4\n I love python5\n I love python6\n I love python7\n I love python8\n I love python9\n I love python10\n I love python11\n I love python12\n I love python13\n I love python14\n I love python15\n I love python16\n I love python17\n I love python18\n I love python19\n I love python20\n I love python21\n I love python22\n I love python23\n I love python24\n I love python25\n I love python26\n I love python27\n I love python28\n I love python29'

In [4]:
import os
file=os.listdir('C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code/')

In [9]:
print(file)

['Assignment_1_Python_Basic.ipynb', 'basic.ipynb', 'dir_0', 'dir_1', 'dir_10', 'dir_11', 'dir_12', 'dir_13', 'dir_14', 'dir_15', 'dir_16', 'dir_17', 'dir_18', 'dir_19', 'dir_2', 'dir_3', 'dir_4', 'dir_5', 'dir_6', 'dir_7', 'dir_8', 'dir_9', 'info.py', 'rawnaa.txt', 'selfPractise.ipynb', 'test.txt', '__pycache__']

In [5]:
import random
random.choice(file)

'dir_17'

In [10]:
os.remove('C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code/rawnaa.txt')

In [13]:
def info(name,age): #inside () the inputs the user will put
    print(f"my name is {name}, my age is {age}")

In [14]:
info("rawnaa",21)

my name is rawnaa, my age is 21

In [ ]:
def info_1(*name):
    print(f"my name is {name}")

In [ ]:
info_1("ahmed","ibrahim","rawnaa")

my name is ('ahmed', 'ibrahim', 'rawnaa')

In [21]:
def info_1(**age):
     print(f"my age is {age}")

In [22]:
info_1(ahmed=22,ibrahim=18,rawnaa=21)

my age is {'ahmed': 22, 'ibrahim': 18, 'rawnaa': 21}

In [ ]:
lambda x:x+10

In [3]:
def function_name():
    print("hello python aand I am using functions")
function_name()

hello python aand I am using functions

In [ ]:
x=float(input("enter the 1st number"))
y=float(input("enter the 2nd number"))
def sum_num(x,y):
    return x+y  #I need a method to use the function and in the same time the program will ask for an input every time we run
print("the sum is",x+y)

the sum is 34.0

In [ ]:
sum_num()

In [9]:
import math
math.tan(0)

0.0

In [ ]:
n1=int(input("enter the 1st number"))
n2=int(input("enter the 2nd number"))
def addition(n1,n2):
    if type(n1)!=int or type(n2)!=int:
        print("unvaild input, please input integer only")
    else:
        print(n1+n2)
# addition(100,30)

In [14]:
x=int(input("enter the 1st number"))
y=int(input("enter the 2nd number"))
def addition(x,y):
    if type(x)!=int or type(y)!=int:
        print("unvaild input, please input integer only")
    else:
     return x+y
print(x+y)  
# print("the sum is",x+y)

ValueError: invalid literal for int() with base 10: 'jgj'

In [ ]:
#def say_hello(*peoples):
def say_hello(n1,n2,n3,n4):
    peoples=[n1,n2,n3,n4]
    for name in peoples:
        print(f"hello {name}")
say_hello("ahmed","rawnaa","ibrahim","mona")

hello ahmed
hello rawnaa
hello ibrahim
hello mona

In [19]:
  # This program demonstrates two functions that
  # have local variables with the same name.
def main():     
    texas()
    california()
 
def texas():
    print("")
birds = input("enter birds texas")
     
print('texas has', birds, 'birds.')
 
def california():
    print("")     
birds = input("enter birds california")
      
print('california has', birds, 'birds.')
main()

texas has 300 birds.
california has 495 birds.

In [31]:
n1=float(input("enter the 1st number"))
n2=float(input("enter the 2nd number"))
if type(n1)!=float or type(n2)!=float:
    print("numiric inputs only acceptable")
else:
    o=int(input("select an operation:\n1.Addition (+)\n2.Subtraction (-)\n3.Multiplication (*)\n4.Division (/)"))
    if o!=1 or o!= 2 or o!= 3 or o!=4:
        print("unvalid selection:select an operation")
    
def operation():     
    addition()
    subtraction()
    multiplication()
    division()
 
def addition():
    print(n1+n2)
# birds = input("enter birds texas")
     
# print('texas has', birds, 'birds.')
 
def subtraction():
    print(n1-n2)     
# birds = input("enter birds california")
      
# print('california has', birds, 'birds.')
def multiplication():
    print(n1*n2)     
# birds = input("enter birds california")
      
# print('california has', birds, 'birds.')
def division():
    print(n1/n2)     
# birds = input("enter birds california")
      
# print('california has', birds, 'birds.')
main()

unvalid selection:select an operation

In [4]:
while cont=="yes":
    print("welcome to the simple calculator ")
    try:
        x=float(input("enter the 1st number"))
        y=float(input("enter the 2nd number"))
    except:
        print("unvalid input: please enter a numirc value")
    operation=input("choose the operation : 1.addition\n2.subtraction\n3.multiplication\n4.division")
    if operation not in (1,2,3,4):
        print("unvaild input: please re-enter the number repesent the operation")
    else:
        if operation==1:
            def addition(x,y):
                return x+y  
            print("the sum is",x+y)
        elif operation==2:
            def subtraction(x,y):
                return x-y  
            print("the subtraction is",x-y)
        elif operation==3:
            def multiplication(x,y):
             return x+y  
            print("the multiplication is",x*y)
        else:
            def division(x,y):
                return x/y  
            try:
                print("the division is",x/y)
            except:
                print("cannot divided by zero")
        if cont=="no":
            print("Existing the calculator,Goodbye")
    cont=input("do you want to continue (yes/no)")

NameError: name 'cont' is not defined

In [ ]:
#chat gpt modification
def addition(x, y):
    return x + y

def subtraction(x, y):
    return x - y

def multiplication(x, y):
    return x * y

def division(x, y):
    if y == 0:
        return "Error! Cannot divide by zero."
    else:
        return x / y

while True:
    print("\nWelcome to the Simple Calculator!")
    print("Select an operation:")
    print("1. Addition (+)")
    print("2. Subtraction (-)")
    print("3. Multiplication (*)")
    print("4. Division (/)")
    
    choice = input("Enter your choice (1/2/3/4) or 'exit' to quit: ")

    if choice.lower() == 'exit':
        print("Exiting the calculator. Goodbye!")
        break

    if choice not in ('1', '2', '3', '4'):
        print("Invalid input: Please enter 1, 2, 3, 4, or 'exit'.")
        continue

    try:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
    except ValueError:
        print("Invalid input: Please enter numeric values.")
        continue

    if choice == '1':
        result = addition(num1, num2)
        print(f"{num1} + {num2} = {result}")
    elif choice == '2':
        result = subtraction(num1, num2)
        print(f"{num1} - {num2} = {result}")
    elif choice == '3':
        result = multiplication(num1, num2)
        print(f"{num1} * {num2} = {result}")
    elif choice == '4':
        result = division(num1, num2)
        if isinstance(result, str):
            print(result)
        else:
            print(f"{num1} / {num2} = {result}")

In [17]:
def f1(n):
    return lambda a:a*n
f2=f1(2)
print(f2(11))

22

In [ ]:
def f(n):
    return n
def anotherf(a): 
    return a*n

In [21]:
try:
    x=10
    y=int(input("enter"))
    print(x/y)
except:
    print("error divide by zero")

5.0

In [23]:
x=5
y=0
try:
    x/y
except Exception as e:
    print(e)

division by zero

In [ ]:
x=5
y=0
try:
    x/y
except NameError:   #show the error
    print("fknjgkf")

ZeroDivisionError: division by zero

In [22]:
from info import info_std 
info_std("rawnaa",21)

my name is rawnaa,my age is 21

In [36]:
import random
n=random.random()
n

0.6330884263663111

In [37]:
def calc_degree(n):
    return n*n
calc_degree(n)

0.40080095559897216

In [5]:
import os
file=os.listdir("C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code")
file

['Assignment_1_Python_Basic.ipynb',
 'basic.ipynb',
 'calculator.ipynb',
 'chatbot.json',
 'dir_0',
 'dir_1',
 'dir_10',
 'dir_11',
 'dir_12',
 'dir_13',
 'dir_14',
 'dir_15',
 'dir_16',
 'dir_17',
 'dir_18',
 'dir_19',
 'dir_2',
 'dir_3',
 'dir_4',
 'dir_5',
 'dir_6',
 'dir_7',
 'dir_8',
 'dir_9',
 'info.py',
 'ok.py',
 'projects.ipynb',
 'selfPractise.ipynb',
 'test.txt',
 '__pycache__']

In [8]:
base_dir=("C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code")
file_name="test.txt"
file_root_path=os.path.join(base_dir,file_name)
file_root_path

'C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code\\test.txt'

In [ ]:
os.remove(file_root_path)   #will remove the path or the file that I joined it to the dir

In [10]:
import os
dir_1="C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code/dir_0"
if not os.path.exists(dir_1):
    os.makedirs(dir_1)
else:
    print("directory already exists",dir_1)

directory already exists C:/Users/Computer Market/Desktop/Depi/Depi_Amit_AI_BNS3/sources/session/code/dir_0

In [ ]:
def calc(n1,n2):
    multiply=n1*n2
    sum=n1+n2
    sub=n1-n2
    div=n1/n2
    print(f"sum: {sum}\nsub: {sub}\nmultiply: {multiply}\ndivision: {div}")
calc(6,3)

sum: 9
sub: 3
multiply: 18
division: 2.0

In [ ]:
def multiplication_table(num):
    print(f"multiplication table of the number {num} is: ")
    for i in range (11):
        table=num*i
        print(f"{num}*{i} = ",table)
multiplication_table(9)

multiplication table of the number 7 is:
7*0 =  0
7*1 =  7
7*2 =  14
7*3 =  21
7*4 =  28
7*5 =  35
7*6 =  42
7*7 =  49
7*8 =  56
7*9 =  63
7*10 =  70

In [ ]:
def calc():
    while True:
        print("Welcome to the simple calculator by Rawnaa :)")
        try:
            num1=float(input("enter the first number"))
            num2=float(input("enter the second number"))
        except:
            print("invalid input, please enter a numeric value")
        choice=input("choose an operation: 1.addition\n2.subtraction\n3.multiplication\n4.division\nor 'exit' for quit")
        def add(num1,num2):
            print(f"{num1} + {num2} = ",num1+num2)
        def sub(num1,num2):
            print(f"{num1} - {num2} = ",num1-num2)
        def muliply(num1,num2):
            print(f"{num1} * {num2} = ",num1*num2)
        def div(num1,num2):
            try:
                print(f"{num1} / {num2} = ",num1/num2)
            except:
                print("Error:division by zero")
        if choice=='1':
            add(num1,num2)
            continue
        elif choice=='2':
            sub(num1,num2)
            continue
        elif choice=='3':
            muliply(num1,num2)
            continue
        elif choice=='4':
            div(num1,num2)
            continue
        elif choice=='exit':
            print("Thanks for using simple calculator, Goodbye")
            break
        else:
            print("unvalid input, enter your choice again!")
calc()

Welcome to the simple calculator by Rawnaa :)
22.0 + 11.0 =  33.0
Welcome to the simple calculator by Rawnaa :)
invalid input, please enter a numeric value
Thanks for using simple calculator, Goodbye

In [21]:
class Student:
    name="Rawnaa"
    age=21
    gpa=3.72
    gender="female"
    def info(s1):
        print("hello")

In [22]:
s1=Student()
s1.info()

hello

In [15]:
s1.name="Ahmed"
s1.age=22
s1.gpa=3.8
s1.gender="male"
s1.age

22

In [ ]:
class MyClass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=MyClass("Rawnaa",21)
# print(f"Hello {p1.name}, you are {p1.age} years old")
print(p1)   #if you want to print the value inside the var this will not happen, so we try __str__ method

<__main__.MyClass object at 0x000001DFA7282D80>

In [9]:
class MyClass:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__ (self):
        return f"{self.name},{self.age}"
p1=MyClass("Rawnaa",21)
print(p1)

Rawnaa,21