# Database With Python

Install connector

In [1]:
import psycopg2

reset password 

###### ALTER USER postgres WITH PASSWORD 'new_password';

Create connectors

In [2]:
my_conn = psycopg2.connect(
    
    host = "localhost",
    database = 'depi',
    user = 'postgres',
    password = "Std#040228"
    
    
    
)

has a cursor

In [3]:
cur = my_conn.cursor()

make simple query

In [4]:
cur.execute('SELECT current_user')
print(cur.fetchone()[0])

postgres

create new database

In [5]:

my_conn.autocommit = True
cur = my_conn.cursor()
cur.execute("CREATE DATABASE DS_NEW")

ProgrammingError: set_session cannot be used inside a transaction

how to get all database name

In [6]:
cur.execute("SELECT datname from PG_database WHERE datistemplate = false")
for db in cur.fetchall():
    print(db[0])

postgres
depi
school

In [7]:
cur.execute("CREATE TABLE students_ (name VARCHAR(50), ohone VARCHAR(20))")
print("table created")

table created

In [8]:
cur.execute("alter table students rename column phone to phone")
print("column changed")

UndefinedTable: relation "students" does not exist

In [10]:
sql="INSERT INTO students (name,phone) values(%s, %s)"
data=("Rawnaa","01030502313")
cur.execute(sql, data)
my_conn.commit()
print("the new record was inserted")

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block